html, * {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}


.card-show{
    margin: auto;
    width: 600px;
}

.card-show img{
    width: 600px;
    height: 500px;
}

.review-form{
    width: 600px;
}

.starability-result{
    width: 10px;
    height: 5px;
}

.index-show{
    height: 250px;
}

.bread-show .carousel .carousel-inner .carousel-item img{
    width: 600px;
    margin: auto;
    height: 400px;
}

.index-show .carousel .carousel-inner .carousel-item img{
    width: 100%;
    height: 250px;
}

input[type="file"]{
    outline: none;
}

.auth{
    margin-left: auto;
}

.img-thumbnail{
    padding: 0;
    margin: 0;
    width: 75px;
    height: 75px;
}

.currentImages{
    display: flex;
    width: 100%;
    justify-content: space-around;
}







