<% layout('layout/boilerplate')%>

    <h1 class="textS-right">BREAD BLOG PROJECT</h1>

    <div id="background">
        <!-- <img src="https://cdn.wallpapersafari.com/67/60/6bYLjD.jpg" alt=""> -->
    </div>

