<% layout('layout/boilerplate')%>


<div class="row">
    <div class="col8">
        <h1><%= loggedUser.username %> </h1>
        <div class="card">
            <div class="card-body">
                <p>Email: <%= loggedUser.email %> </p>
            </div>
        </div>
    </div>
</div>
